mark {
  padding: 1px 3px;
  font-weight: bold;

  background-color: $hacky-yellow;

  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.purple {
    background-color: $hacky-purple;
  }
  &.cyan {
    background-color: $hacky-cyan;
  }
  &.black {
    color: $green;
    background-color: $turquoise;
  }
  &.gray {
    background-color: $grey-light;
  }
  &.darkgreen {
    background-color: rgb(0, 138, 119);
  }
}
